a:link, a:visited, a:hover, a:active {
    color: rgb(73%, 73%, 73%);  /* 50% gray */
}

body {
    background-color: rgb(48%, 48%, 48%); /* 20% gray */
    color: rgb(90%, 90%, 90%);
    font-family: -apple-system, BlinkMacSystemFont, "Lucida Grande", Arial, sans-serif;
}

#bottom-links { margin-top: 16px; }

button { padding: 4px 8px; }

#content { margin: 0 8px; }

#error {
    color: rgb(100%, 33%, 33%);
    font-size: 14px;
    font-weight: bold;
}

.gradient {
    text-align: center;
    width: 300px;
}

.gradient .dark-text { color: rgb(0%, 0%, 0%); }

.gradient .light-text { color: rgb(100%, 100%, 100%); }

#progress { font-size: 14px; }

#result { margin-top: 16px; }

textarea {
    font-family: "SFMono-Regular", Menlo, Consolas, monospace;
    font-size: 13px;
    line-height: 1.4;
}
