{% extends "base.html" %}

{% block title %}Gradient generator{% endblock %}

{% block content %}
<h1>Gradient generator</h1>
<p>Generate smooth color gradients using the CAM02-UCS uniform color space.
<p><small>Gradient specification:</small><br>
<textarea id="grad-spec" cols="40" rows="10">
0: #333
1/3: #669
1/2: #b6b
1: #ffc
</textarea>
<table id="controls">
    <tr><td class="label">Steps<td><input type="number" step="1" name="steps" value="30">
    <tr><td class="label">Interpolator
        <td><select name="interpolator">
            <option value="Akima1DInterpolator">Akima</option>
            <option value="BarycentricInterpolator">Barycentric</option>
            <option value="CubicSpline">CubicSpline</option>
            <option value="KroghInterpolator">Krogh</option>
            <option value="interp1d">Linear</option>
            <option value="PchipInterpolator">Pchip</option>
        </select>
    <!-- <tr><td class="label">Periodic<td><input type="checkbox" value="periodic"> -->
    <tr style="line-height: 50%;"><td colspan="2">&nbsp;
    <tr><td><button id="submit">Submit</button><td>
    <tr style="line-height: 50%;"><td colspan="2">&nbsp;
</table>
<span id="error"></span>
<span id="progress"></span>
<div id="result"></div>
<span id="as-css"></span>
<span id="as-csv"></span>
<div id="bottom-links">
    <a href="https://github.com/crowsonkb/gradient-maker3">View on GitHub</a><br>
    <a href="http://paypal.me/KatherineCrowson">Donate money to Katherine Crowson</a>
</div>
{% endblock %}
